<div class="send-money-container">
    <div class="send-money-card">
      <h2 class="send-money-header">Send Money</h2>
  
  
      <form (ngSubmit)="sendMoney()" class="send-money-form">
        <div class="form-group">
          <label for="fromWallet">Email:</label>
          <input type="Email" id="Email"  class="form-control" required>
        </div>

        <div class="form-group">
            <label for="toWallet">Password:</label>
            <input type="password" id="password"  class="form-control" required>
          </div>
  
          <div class="form-group">
            <label for="fromWallet">Email Benefiacary:</label>
            <input type="Email" id="Email"  class="form-control" required>
          </div>
  
        <div class="form-group">
          <label for="amount">Amount:</label>
          <div class="input-group">
            <input type="number" id="amount" formControlName="amount" class="form-control" required>
          </div>
        </div>
  
        <button type="submit" class="btn btn-primary">Send Money</button>
      </form>
    </div>
  </div>
  