.custom-container-bg {
    background-color: #f8f9fa;
  }
  
  .custom-form-bg {
    background-color: #343a40;
  }
  
  .custom-font {
    font-family: 'Monospace', Monaco; /* Remplacez par la police de caractères souhaitée */
  }
  

  
  
  .custom-input {
    border: 1px solid #ced4da; /* Ajoute une bordure grise aux champs de saisie */
    border-radius: 0.25rem; /* Arrondit légèrement les coins des champs de saisie */
  }
  
  .btn-animated {
    transition: all 0.3s ease; /* Ajoute une transition animée à tous les styles de bouton */
  }
  
  .btn-animated:hover {
    transform: scale(1.1); /* Fait grossir le bouton lorsqu'il est survolé */
  }
  
  .description {
    font-size: 1.5em;
    color: rgb(11, 2, 2);
    margin-top: 20px;
    font-family: "Cursive", Brush Script MT;
    font-size: 3em;
    text-align: center;
  }